HOST=0.0.0.0
PORT=15100
LOG_LEVEL=SUCCESS
DRIVER=~fastapi+~httpx
FASTAPI_RELOAD=false
COMMAND_START=["","/"]  # 配置命令起始字符
COMMAND_SEP=["."]  # 配置命令分割字符
ONEBOT_WS_ROUTES=["/ws"]
ONEBOT_ACCESS_TOKEN=""
LOCALSTORE_USE_CWD=True  # 让 LocalStore 在当前目录存储数据
SUPERUSERS=[]

# jrlp
TODAY_WAIFU_ALIASES = ["今日老婆","jrlp","娶老婆","娶群友","抽群老婆"]
nickname = ["爱莉"]

# chess
cchess_engine_path='./utils/pyfairy_xiangqi.py'

# tarot
TAROT_PATH="./utils/tarot"
CHAIN_REPLY=True

# status
status_nickname = ""
status_cpu_cores = ""
status_cpu_model = ""
status_os_info = ""
status_fallback_fonts = ""

# LLM
llm_api_key = ""
llm_base_url = ""
chat_llm_model = ""
chat_llm_model_text = ""
other_llm_model = ""

# Password
unified_password = ""
_2fa_key = ""

# General
airicore_version = "AiriCore v26.7 Plitvice"












