HOST=0.0.0.0
PORT=15100
LOG_LEVEL=SUCCESS
DRIVER=~fastapi+~httpx
FASTAPI_RELOAD=false
COMMAND_START=["","/"]  
COMMAND_SEP=["."]  
ONEBOT_WS_ROUTES=["/ws"]
ONEBOT_ACCESS_TOKEN=""
LOCALSTORE_USE_CWD=True 
SUPERUSERS=[]

# jrlp
TODAY_WAIFU_ALIASES = []
nickname = []

# chess
cchess_engine_path='./utils/pyfairy_xiangqi.py'

# tarot
TAROT_PATH="./utils/tarot"
CHAIN_REPLY=True

# status
status_nickname = ""
status_cpu_cores = ""
status_cpu_model = ""
status_os_info = ""
status_fallback_fonts = ""

# LLM
llm_api_key = ""
llm_base_url = ""
chat_llm_model = ""
chat_llm_model_text = ""
other_llm_model = ""

# Password
unified_password = ""
_2fa_key = ""

# General
airicore_version = ""
notification_account = ""












