# Base
HOST = 0.0.0.0
PORT = 15100
LOG_LEVEL = SUCCESS
DRIVER = ~fastapi+~httpx
FASTAPI_RELOAD = false
COMMAND_START = ["","/"] 
COMMAND_SEP = ["."]
ONEBOT_ACCESS_TOKEN = ""
LOCALSTORE_USE_CWD = True  
SUPERUSERS = []
nickname = []

# jrlp
TODAY_WAIFU_ALIASES = []

# chess
cchess_engine_path='./utils/pyfairy_xiangqi.py'

# tarot
TAROT_PATH="./utils/tarot"
CHAIN_REPLY=True

# status
status_nickname = ""
status_cpu_cores = ""
status_cpu_model = ""
status_os_info = ""
status_fallback_fonts = ""

# LLM
llm_api_key = ""
llm_base_url = ""
chat_llm_model = ""
chat_llm_model_text = ""
other_llm_model = ""
airi_char_name = ""  
airi_char_aliases = [] 

# market
market_domain = ""
market_port = 
market_daily_limit = 
market_send_start_hour = 
market_send_end_hour = 

# E-mail
email_smtp_host = ""
email_smtp_user = ""
email_smtp_password = ""
email_from_name = ""
email_from_address = ""

# Password
unified_password = ""
_2fa_key = ""

# General
airicore_version = ""
notification_account = ""
cache_mode = balanced
