# pip3 install -r requirements.txt --no-deps --ignore-installed
aiocache==0.11.1
aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
aiosqlite==0.17.0
alembic==1.13.1
amis-python==1.0.8.post2
annotated-types==0.6.0
anyio==3.7.1
APScheduler==3.10.4
arclet-alconna==1.7.44
arclet-alconna-tools==0.6.11
arrow==1.2.3
async-timeout==4.0.3
asyncio==3.4.3
asyncmy==0.2.8
asyncodbc==0.1.1
asyncpg==0.28.0
atomicwrites==1.4.1
attrs==22.1.0
aunly-captcha-solver==0.1.3
Automat==22.10.0
Babel==2.10.3
bbcode==1.1.0
bcrypt==3.2.2
beautifulsoup4==4.12.2
bilireq==0.2.11
binaryornot==0.4.4
black==22.6.0
blinker==1.7.0
bs4==0.0.1
build==1.3.0
cachetools==5.3.1
cashews==6.2.0
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.2.0
chevron==0.14.0
chinese_calendar==1.11.0
click==8.3.1
clovers==0.1.6
colorama==0.4.6
configobj==5.0.8
constantly==23.10.4
contourpy==1.1.1
cookiecutter==2.3.0
coverage==6.4.4
cryptography==41.0.7
cycler==0.12.1
dateparser==1.1.8
distlib==0.3.5
distro==1.9.0
ecdsa==0.18.0
emoji==2.8.0
exceptiongroup==1.3.1
fastapi==0.103.0
fasteners==0.18
filelock==3.8.0
filetype==1.2.0
flake8==5.0.4
fonttools==4.43.1
frozenlist==1.4.0
greenlet==3.1.1
grpcio==1.59.0
h11==0.12.0
h2==4.1.0
hmac==20101005
hpack==4.0.0
httpcore==0.15.0
httplib2==0.20.4
httptools==0.6.0
httpx==0.24.0
humanize==4.9.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.11
imageio-ffmpeg==0.4.7
imagetext_py==2.1.3
importlib-resources==6.1.0
incremental==22.10.0
iniconfig==1.1.1
iso8601==1.1.0
jieba==0.42.1
Jinja2==3.1.2
jiter==0.12.0
jmespath==1.0.1
json_tools==0.4.1
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
kiwisolver==1.4.5
loguru==0.7.2
lxml==4.9.3
Mako==1.2.4
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
mccabe==0.7.0
mcrcon==0.7.0
mdurl==0.1.2
meme-generator==0.0.16
monotonic==1.6
mplfinance==0.12.10b0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==0.4.3
nb-cli==1.2.2
nbtlib==2.0.4
nepattern==0.5.15
netaddr==0.8.0
netifaces==0.11.0
nonebot-adapter-onebot==2.1.1
nonebot-plugin-apscheduler==0.2.0
nonebot-plugin-datastore==0.6.3
nonebot-plugin-guild-patch==0.2.3
nonebot-plugin-htmlrender==0.2.2
nonebot-plugin-localstore==0.4.1
nonebot-plugin-reboot==0.1.4
nonebot-plugin-send-anything-anywhere==0.2.7
nonebot-plugin-txt2img==0.3.3
nonebot2==2.1.1
nonebot_plugin_session==0.2.0
noneprompt==0.1.9
numpy==1.23.2
oauthlib==3.2.2
olefile==0.46
openai==2.14.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
orjson==3.9.5
packaging==23.2
pandas==2.2.2
paramiko==2.12.0
pathspec==0.9.0
pexpect==4.9.0
pil-utils==0.1.8
Pillow==9.5.0
pip-tools==7.5.2
platformdirs==2.5.2
playwright==1.48.0
pluggy==1.0.0
polib==1.1.1
prettytable==3.10.0
prompt-toolkit==3.0.39
propcache==0.4.1
protobuf==4.24.4
psutil==5.9.5
ptyprocess==0.7.0
py==1.11.0
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.2.8
pybind11==2.13.6
pycodestyle==2.9.1
pycqBot==0.5.1.1
pycryptodomex==3.15.0
pydantic==1.10.24
pydantic_core==2.18.4
pyecharts==2.0.5
pyee==12.0.0
pyfiglet==0.8.post1
pyflakes==2.5.0
Pygments==2.16.1
PyGObject==3.48.2
pygtrie==2.5.0
PyHamcrest==2.1.0
PyJWT==2.7.0
pymdown-extensions==10.3.1
PyNaCl==1.5.0
pyodbc==5.0.1
pyOpenSSL==23.2.0
pyparsing==3.0.9
pypika-tortoise==0.1.6
pypinyin==0.49.0
pyproject_hooks==1.2.0
pyrsistent==0.20.0
pyserial==3.5
python-apt==2.7.7+ubuntu5.1
python-dateutil==2.9.0.post0
python-debian==0.1.49+ubuntu2
python-dotenv==1.2.1
python-magic==0.4.27
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.3
regex==2023.10.3
requests==2.31.0
rfc3986==1.5.0
rich==13.5.2
rsa==4.9
ruamel.yaml==0.17.35
ruamel.yaml.clib==0.2.8
s3transfer==0.10.1
seaborn==0.13.2
service-identity==24.1.0
simplejson==3.19.3
six==1.16.0
skia-python==130.0b10
snapshot-phantomjs==0.0.3
sniffio==1.3.1
sos==0.25.1
soupsieve==2.4.1
SQLAlchemy==2.0.22
starlette==0.27.0
StrEnum==0.4.15
tarina==0.5.1
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
tortoise-orm==0.20.0
tox==3.25.1
tqdm==4.64.0
Twisted==24.3.0
typing==3.7.4.3
typing-inspection==0.4.2
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.3.1
urllib3==2.0.4
uvicorn==0.38.0
uvloop==0.22.1
virtualenv==20.16.3
wadllib==1.3.6
watchfiles==1.1.1
wcwidth==0.2.6
websockets==11.0.3
win32-setctime==1.1.0
xdg==5.0.0
yarl==1.22.0
zope.interface==6.1